@using Domain.Data
@using Microsoft.AspNetCore.Identity


<div class="header  change-logo">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header" style="width:auto">
                <a class="nav-brand static-logo" href="#">
                    <img src="/skillup/assets/img/logo.png" class="logo" alt="" />
                </a>
                <a class="nav-brand fixed-logo" href="/Account/Login" style="    position: absolute; left: 0px; top: -11px;">
                    <img src="/skillup/assets/img/logo.png" class="logo" alt="" />
                </a>
                <div class="nav-toggle"></div> 
                <div class="mobile_nav">
                    <AuthorizeView>
                        <NotAuthorized>
                            <ul>
                                <li>
                                    <NavLink href="/Account/Login">
                                        <i class="fas fa-sign-in-alt ml-1 rotate-img"></i><span class="dn-lg">ورود</span>
                                    </NavLink>
                                </li>
                            </ul>
                        </NotAuthorized>
                        
                    </AuthorizeView>

                    
                </div>
            </div>
            <div class="nav-menus-wrapper">
                <ul class="nav-menu">
                    <li class="active">
                        <a href="/">مبلمان کریمی<span class="submenu-indicator"></span></a>
                    
                    </li>

                    <li>
                        <a href="#">دسته بندی<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                           
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="contact.html">تماس با ما</a></li>
                            <li><a href="blogs.html">لیست وبلاگ</a></li>
                            <li><a href="pricing.html">قیمت گذاری</a></li>
                            <li><a href="404.html">صفحه 404</a></li>
                            <li><a href="component.html">المان ها</a></li>
                            <li><a href="faq.html">سوالات متداول</a></li>
                            <li><NavLink href="/Account/Login">ورود</NavLink></li>

                            <li><a href="forgot.html">فراموشی رمز عبور</a></li>
                        </ul>
                    </li>
                    <AuthorizeView>
                        <NotAuthorized>
                            <li>
                                <a href="/Account/Login"> ورود</a>
                            </li>
                        </NotAuthorized>
                        <Authorized>
                            <li>
                                <a href="/cpanel/users"> پنل</a>
                            </li>
                            <li>
                                <a href="/"> خروج</a>
                            </li>
                            
                        </Authorized>
                    </AuthorizeView>

                </ul>
              
            </div>
        </nav>
    </div>
</div>
@code{
    protected override async Task OnInitializedAsync()
    {
        var x = 1;
    }
}