@using Microsoft.AspNetCore.Identity
@using System.ComponentModel.DataAnnotations
@inject NavigationManager nav
<!-- cpanel template-->
@if (witchHTML == "cpanel")
{
    <!DOCTYPE html>
    <html lang="fa">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <base href="/" />
        <!-- begin::global styles -->
        <link rel="stylesheet" href="/cpanel/assets/vendors/bundle.css" type="text/css">
        <!-- end::global styles -->
        <!-- begin::custom styles -->
        <link rel="stylesheet" href="/cpanel/assets/css/app.css" type="text/css">
        @* <link rel="stylesheet" href="/cpanel/assets/css/custom.css" type="text/css"> *@
        <link rel="stylesheet" href="/cpanel/assets/plugin/tostify/toastify.min.css" type="text/css">
        <link href="/lib/quill/dist/quill.snow.css" rel="stylesheet">
        <link href="/lib/quill/dist/quill.bubble.css" rel="stylesheet">
        <!-- end::custom styles -->
        <!-- begin::favicon -->
        <link rel="shortcut icon" href="/cpanel/assets/media/image/favicon.png">
        <!-- end::favicon -->
        <!-- begin::theme color -->
        <meta name="theme-color" content="#3f51b5" />
        <!-- end::theme color -->

        <HeadOutlet />
        
    </head>
    <body class="dark icon-side-menu">
        <RoutesCpanel />

        <script src="/cpanel/assets/vendors/bundle.js"></script>
        @* <script src="/cpanel/assets/js/custom.js"></script> *@
        <script src="/cpanel/assets/js/app.js"></script>
        <script src="/cpanel/assets/plugin/tostify/toastify-js.js"></script>
        <script src="/cpanel/assets/plugin/sweetalert/sweetalert.js"></script>

        <script src="/lib/quill/dist/quill.js"></script>
        <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"></script>
        <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"></script>
        @* <script>
                        const qlUi = document.querySelector('.ql-ui');
            const isRightToLeft = document.documentElement.dir === 'rtl'; // بررسی جهت صفحه

            if (isRightToLeft) {
                qlUi.style.right = '-12px';
            } else {
                qlUi.style.left = '-12px'; // استفاده از left در حالت چپ‌چین
            }
        </script>
 *@

        <script src="_framework/blazor.web.js"></script>
    </body>
    </html>

}

else if (witchHTML == "account")
{
    <!DOCTYPE html>
    <html lang="en">
    <head>

        <meta charset="utf-8" />
        <meta name="author" content="Themezhub" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <base href="/" />
        <HeadOutlet />
    </head>

    <body dir="rtl">
        <RoutesLogin />
        <script src="_framework/blazor.web.js"></script>
    </body>

    </html>

}
else
{
    <!DOCTYPE html>
    <html lang="fa">
    <head>

        <meta charset="utf-8" />
        <meta name="author" content="Themezhub" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- استایل‌های بوت‌استرپ -->
        <link href="/bootstrap/bootstrap.min.css" rel="stylesheet" />

        <!-- استایل اصلی سایت -->
        <link href="/skillup/assets/css/styles.css" rel="stylesheet" />

        <base href="/" />
        <HeadOutlet />
    </head>

    <body dir="rtl">
        <Routes />

        <!-- کتابخانه‌های لازم -->
        <script src="/skillup/assets/js/jquery.min.js"></script>
        <script src="/skillup/assets/js/popper.min.js"></script>
        <script src="/skillup/assets/js/bootstrap.min.js"></script>
        <script src="/skillup/assets/js/select2.min.js"></script>
        <script src="/skillup/assets/js/slick.js"></script>
        <script src="/skillup/assets/js/moment.min.js"></script>
        <script src="/skillup/assets/js/daterangepicker.js"></script>
        <script src="/skillup/assets/js/summernote.min.js"></script>
        <script src="/skillup/assets/js/metisMenu.min.js"></script>
        <script src="/skillup/assets/js/custom.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="/cpanel/assets/plugin/tostify/toastify-js.js"></script>
        <script src="_framework/blazor.web.js"></script>
    </body>

    </html>
}



@code {
    string witchHTML = "";
    protected override void OnInitialized()
    {
        //https://localhost:7163 //
        var url = nav.BaseUri.ToLower();
        if (nav.Uri.ToLower().StartsWith(url + "cpanel"))
        {
            witchHTML = "cpanel";
        }
        //url + "account" ---> https://localhost:7163/account
        //https://localhost:7163/account/login
        // var x="ali halet chetore"
        // x.IndexOf("halet") -->4
        //x.IndexOf("ali")-- > 0

        //x.IndexOf("reza")-- > -1

        else if (nav.Uri.ToLower().IndexOf((url + "account").ToLower()) != -1) // agar peyda shod
        {
            witchHTML = "account";
        }
        else
        {
            witchHTML = "";
        }
    }
    ///

}


