@page "/cpanel/shop/products/add"
@using WYSIWYGTextEditor
 @rendermode InteractiveServer
<div class="page-header">
    <div>
        <h3>افزودن محصول جدید</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/cpanel/">داشبورد</a></li>
                <li class="breadcrumb-item"><NavLink href="/cpanel/shop/products">لیست محصولات</NavLink></li>
                <li class="breadcrumb-item active" aria-current="page">محصول جدید</li>
            </ol>
        </nav>
    </div>

</div>
<!-- end::page header -->

<div class="card">
    <div class="card-body">
        <EditForm Model="product" Enhance FormName="f1">
            <div class="row">
                <div class="col-md-6">
                    <label class="form-label">عنوان</label>
                    <InputText @bind-Value="product.Name" class="form-control"/>
                </div>
                <div class="col-md-6">
                    <label class="form-label">وضعیت انتشار</label>
                    <InputSelect @bind-Value="product.IsPublish" class="form-control">
                        <option value="true">منتشر شود</option>
                        <option value="false">عدم انتشار</option>
                    </InputSelect>
                </div>
                <div class="col-md-6">
                    <label class="form-label">مبلغ جاری</label>
                    <InputNumber @bind-Value="product.Price" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label class="form-label">مبلغ قبلی</label>
                    <InputNumber @bind-Value="product.PriceOld" class="form-control" />
                </div>
                <div class="col-12">
       
                    <TextEditor @ref="@MyEditor">
                        <ToolbarContent>
                            <select class="ql-header">
                                <option selected=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>
                            </select>
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                                <button class="ql-strike"></button>
                            </span>
                            <span class="ql-formats">
                                <select class="ql-color"></select>
                                <select class="ql-background"></select>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-list" value="ordered"></button>
                                <button class="ql-list" value="bullet"></button>
                            </span>
                            <span class="ql-formats">
                                <button class="ql-link"></button>
                            </span>
                        </ToolbarContent>
                        <EditorContent>
                            <h4>This Toolbar works with HTML</h4>
                            <a href="http://BlazorHelpWebsite.com">
                                BlazorHelpWebsite.com
                            </a>
                        </EditorContent>
                    </TextEditor>
                    <br />
                   @*  <button class="btn btn-primary"
                            @onclick="GetHTML">
                        Get HTML
                    </button> *@
                   @*  <button class="btn btn-primary"
                            @onclick="SetHTML">
                        Set HTML
                    </button> *@
                    <br />
                    <div>
                        <br />
                      @*   @((MarkupString)QuillHTMLContent)
                        @QuillHTMLContent *@
                    </div>
                </div>
            </div>
        </EditForm>

    </div>
</div>
@code{
    [SupplyParameterFromForm]
    public Domain.Models.shop.Product product { get; set; } = new Domain.Models.shop.Product();
    TextEditor MyEditor;

}