@page "/cpanel/shop/products"
@using Application.Dtos.cpanel
@using Application.Repositories.cpanel
@using Domain.ViewModels
<div class="page-header">
    <div>
        <h3>لیست محصولات</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">داشبورد</a></li>

                <li class="breadcrumb-item active" aria-current="page">لیست محصولات</li>
            </ol>
        </nav>
    </div>

</div>
<!-- end::page header -->

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12 mb-3">
                <form class="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="جستجو ..." @bind-value="paging.Search">
                        <div class="input-group-append">
                            <button class="btn" type="button" @onclick="SearchBtn">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            @foreach (var item in paging.Values!)
            {
                <div class="col-md-4 col-xl-3">
                    <div class="card">
                        <div class="position-relative">
                              <img src="/cpanel/assets/media/image/portfolio-four.jpg" class="card-img-top" alt="...">
                            <span class="position-absolute rounded-2 pr-2 pl-2 pt-1 pb-1 text-dark" 
                            style="bottom: 0;left: 0; background: #ccc;">@item.Price.ToString("#,0 تومان")</span>
                            @if (item.IsPublish)
                            {
                                <span class="bg-danger border-1 d-inline-block position-absolute " 
                                style="width: 15px;height: 15px;top: 10px;border-radius: 50%;right: 8px;border: 2px solid#000;"></span>
                            }
                            else
                            {
                                <span title="منتشر شده"  class="bg-success border-1 d-inline-block position-absolute "
                                      style="width: 15px;height: 15px;top: 10px;border-radius: 50%;right: 8px;border: 2px solid#000;"></span>
                            }
                        </div>
                        <div class="card-body">
                            <p class="card-text">@item.Name</p>
                            <a href="#" class="btn btn-primary">جزئیات</a>
                        </div>
                    </div>
                </div>
            }
            @if (paging.Page + 1 != paging.TotalPages)
            {
                <div class="text-center">
                    <button class="btn btn-warning" @onclick="GetMoreData">بیشتر</button>
                </div>
            }


        </div>
    </div>
</div>
@code{
    public PaggingDto<ProductVM> paging { get; set; } = new PaggingDto<ProductVM>();
    protected override async Task OnInitializedAsync()
    {
        ProductRepository productRepository = new ProductRepository();
        paging=await productRepository.GetAll(paging);
        
    }
    private async Task GetMoreData(MouseEventArgs e)
    {
        ProductRepository repository = new ProductRepository();
        paging.Page += 1;
        paging = await repository.GetAll(paging);
    }
    private async Task SearchBtn(MouseEventArgs e)
    {

        var repository = new ProductRepository();

        paging.Page = 0;
        paging.Values = new List<ProductVM>();
        paging = await repository.GetAll(paging);
    }

}