@page "/cpanel/users/profile/{UserId}"

@layout Layout.Cpanel.MainLayoutCpanel
@inject UserManager<ApplicationUser> userManager
@inject NavigationManager nav
<PageTitle>Home</PageTitle>

<div class="page-header">
    <div>
        <h3>کاربران</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">کنترل پنل</a></li>
                <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                <li class="breadcrumb-item active" aria-current="page">کاربران</li>
            </ol>
        </nav>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            اقدامات
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="/cpanel/users">بازگشت به کاربران</a>
            <a class="dropdown-item" href="/cpanel">کنترل پنل</a>
        </div>
    </div>
</div>
<!-- end::page header -->


<div class="row">
    <div class="col-md-8 col-xl-9">
        <div class="card">
            <div class="card-body">
            </div>
        </div>
    </div>
    <div class="col-md-4 col-xl-3">
        <div class="card">
            <div class="card-body">
                <h5>وضعیت 
                    @if (User.IsSuspend )
                    {
                        <span class="px-3 text-warning">مسدود</span>
                    }
                    else
                    {
                        <span class="px-3 text-success">فعال</span>
                    }
                </h5>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5>بارگزاری تصویر</h5>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5>اطلاعات ورود</h5>
            </div>
        </div>
      
    </div>
  
</div>
@code {
    [Parameter] public string UserId { get; set; }
    public ApplicationUser? User { get; set; } = new ApplicationUser();   
    protected override async Task OnInitializedAsync()
    {
        User= await userManager.FindByIdAsync(UserId);
        if (User is null)
        {
            nav.NavigateTo("/cpanel/users/", true);
            return;
        }
    }
}