@page "/cpanel/users/profile/{UserId}"

@layout Layout.Cpanel.MainLayoutCpanel
@inject UserManager<ApplicationUser> userManager
@inject NavigationManager nav
<PageTitle>Home</PageTitle>
@* @inject IJSRuntime js
@rendermode InteractiveServer *@

<div class="page-header">
    <div>
        <h3>کاربران</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">کنترل پنل</a></li>
                <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                <li class="breadcrumb-item active" aria-current="page">کاربران</li>
            </ol>
        </nav>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            اقدامات
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="/cpanel/users">بازگشت به کاربران</a>
            <a class="dropdown-item" href="/cpanel">کنترل پنل</a>
        </div>
    </div>
</div>
<!-- end::page header -->
@if (mes!="")
{
    <div class="alert alert-@alertColor alert-dismissible fade show " role="alert" style="position: fixed; z-index: 77; top: 100px;">
        <strong>@mes</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}


<EditForm Model="User" OnValidSubmit="ValidSubmit" OnInvalidSubmit="InValidSubmit" FormName="f1">
    <div class="row">
        <div class="col-md-8 col-xl-9">
            <div class="card rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>نام</label>
                            <InputText @bind-Value="User!.Firstname"  class="form-control" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label> نام خانوادگی</label>
                            <InputText @bind-Value="User!.Lastname" class="form-control" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label> ایمیل</label>
                            <InputText @bind-Value="User!.Email" class="form-control" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>شماره تماس</label>
                            <InputText @bind-Value="User!.PhoneNumber" class="form-control" />
                        </div>
                        <div class="w-100">
                            <button class="btn btn-success m-3" type="submit">ذخیره تغیراتــــــــــ</button>
                            <button class="btn btn-warning m-3 float-right" type="button">برگشت به لیست</button>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="text-info">
                        وضعیت
                        @if (User.IsSuspend )
                        {
                            <span class="px-3 text-warning">مسدود</span>
                        }
                        else
                        {
                            <span class="px-3 text-success">فعال</span>
                        }
                    </h5>
                </div>
            </div>
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="text-info">بارگزاری تصویر</h5>
                    <img src="@User.UserImage()" class="img-fluid m-auto d-block img-thumbnail"/>
                </div>
            </div>
            <div class=" card rounded">
                <div class="card-body">
                    <h5 class="text-info">بازدید</h5>
                    <div class="form-group">
                        <label class="form-label mb-0">آخرین بازدید</label>
                        <input type="text" readonly="" class="form-control-plaintext text-left border pl-2" value="@User.LastDateLogin">

                    </div>

                    <div class="form-group ">
                        <label class="form-label  mb-0">تعداد بازدید : <strong>@User.LoginCount</strong></label>
                    </div>
                </div>
            </div>

        </div>

    </div>
</EditForm>
@code {
    [Parameter] public string UserId { get; set; } = "";
    string mes = "";
    string alertColor="info";
    [SupplyParameterFromForm]
    public ApplicationUser? User { get; set; } = new ApplicationUser();   
    void ValidSubmit(){
        mes = "خطایی اتفاق افتاده";
        alertColor = "danger";
        // await js.InvokeVoidAsync("toast", "valid");
    }
    void InValidSubmit()
    {
        mes = "همه چیز اوکیه";
        alertColor = "success";
        //await js.InvokeVoidAsync("toast", "invalid");
    }
    protected override async Task OnParametersSetAsync()
    {
        
      
    }
    protected override async Task OnInitializedAsync()
    {
        if (UserId != "")
        {
            User = await userManager.FindByIdAsync(UserId);
        }
    }
}