@page "/cpanel/users/profile/{UserId}"
@page "/cpanel/users/profile/add"
@using Application.Repositories.cpanel
@using Domain.ViewModels
@inject IJSRuntime js
@layout Layout.Cpanel.MainLayoutCpanel
@inject UserManager<ApplicationUser> userManager
@inject NavigationManager nav

@inject IUserStore<ApplicationUser> UserStore
<PageTitle>Home</PageTitle>

@rendermode InteractiveServer 

<div class="page-header">
    <div>
        <h3>کاربران</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Cpanel">کنترل پنل</a></li>
                <li class="breadcrumb-item active" aria-current="page">کاربران</li>
            </ol>
        </nav>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            اقدامات
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="/cpanel/users">بازگشت به کاربران</a>
            <a class="dropdown-item" href="/cpanel">کنترل پنل</a>
        </div>
    </div>
</div>



<EditForm Model="@uservm" OnValidSubmit="ValidSubmit" OnInvalidSubmit="InValidSubmit" Enhance FormName="form1">

    <div class="row">
        <div class="col-md-8 col-xl-9">
            <div class="card rounded">
                <div class="card-body">
                    <div class="row">
                        @if (string.IsNullOrEmpty(UserId))
                        {
                            <div class="col-md-6 form-group">

                                <label>نام کاربری</label>
                                <InputText @bind-Value="uservm!.UserName" class="form-control" required />
                            </div>
                            <div class="col-md-6 form-group">

                                <label>رمز عبور</label>
                                <InputText @bind-Value="password" class="form-control" required />
                            </div>
                        }
                        <div class="col-md-4 form-group">

                            <label>نام</label>
                            <InputText @bind-Value="uservm!.Firstname" class="form-control" required/>
                        </div>
                        <div class="col-md-4 form-group">
                            <label> نام خانوادگی</label>
                            <InputText @bind-Value="uservm!.Lastname" class="form-control" required />
                        </div>
                        <div class="col-md-4 form-group">
                            <label>شماره تماس</label>
                            <InputText @bind-Value="uservm!.PhoneNumber" class="form-control" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label> ایمیل</label>
                            <InputText @bind-Value="uservm!.Email" class="form-control" required />
                        </div>
                        <div class="col-md-6 form-group">
                            <label>نام کاربری در تلگرام (User Name ) </label>
                            <InputText @bind-Value="uservm!.UserNameTelegram" class="form-control" required />
                        </div>
                        <div class="w-100">
                            <button class="btn btn-success m-3" type="submit">ذخیره تغیراتــــــــــ</button>
                            <a class="btn btn-warning m-3 float-right" href="/Cpanel/users">برگشت به لیست</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="text-info">
                        وضعیت
                        @if (uservm.IsSuspend)
                        {
                            <span class="px-3 text-warning">مسدود</span>
                        }
                        else
                        {
                            <span class="px-3 text-success">فعال</span>
                        }
                    </h5>
                </div>
            </div>
            <div class="card rounded">
                <div class="card-body">
                    <h5 class="text-info">بارگزاری تصویر</h5>
                    <img src="@uservm.GetAvatar()" class="img-fluid m-auto d-block img-thumbnail" />
                    @if (!string.IsNullOrEmpty(UserId))
                    {
                        <button class="btn btn-warning m-3 float-right" @onclick='()=> nav.NavigateTo($"/cpanel/users/avatar/{uservm.Id}" , true)'>تغییر نمایه</button>
                    }
                    
                </div>
            </div>
            <div class=" card rounded">
                <div class="card-body">
                    <h5 class="text-info">بازدید</h5>
                    <div class="form-group">
                        <label class="form-label mb-0">آخرین بازدید</label>
                        <input type="text" readonly="" class="form-control-plaintext text-left border pl-2" value="@uservm.LastDateLogin">

                    </div>

                    <div class="form-group ">
                        <label class="form-label  mb-0">تعداد بازدید : <strong>@uservm.LoginCount</strong></label>
                    </div>
                </div>
            </div>

        </div>

    </div> 
</EditForm>
@code {
    [Parameter] public string UserId { get; set; } = "";
    string password = "";
    [SupplyParameterFromForm]
    UserVM uservm { get; set; } = new UserVM();


    async Task ValidSubmit(){

        if (string.IsNullOrEmpty(uservm.Firstname) || string.IsNullOrEmpty(uservm.Lastname) || string.IsNullOrEmpty(uservm.Email))
        {
            await js.InvokeVoidAsync("toastError", "اطلاعات درخواستی را کامل وارد نمایید");

            return;
        }



        var userRep = new UserRepository();


        if (!string.IsNullOrEmpty(UserId)){ // update user
            var res = await userRep.UpdateAsync(uservm);
            if (res.IsSuccess)
            {
                await js.InvokeVoidAsync("toast", "تغییرات اعمال گردید");

            }
            else
            {
                await js.InvokeVoidAsync("toastError", res.Message);

            }
            return;
        }
        //// add user
        if (string.IsNullOrEmpty(uservm.UserName) || string.IsNullOrEmpty(password))
        {
            await js.InvokeVoidAsync("toastError", "اطلاعات درخواستی را کامل وارد نمایید");
            return;
        }
        ApplicationUser user = new ApplicationUser();
        user.Firstname = uservm.Firstname;
        user.Lastname = uservm.Lastname;
        user.Email = uservm.Email;
        user.PhoneNumber = uservm.PhoneNumber;
        user.UserName = uservm.UserName;
        user.UserNameTelegram = uservm.UserNameTelegram;
        var result = await userManager.CreateAsync(user, password);
        if (result.Succeeded)
        {
            await js.InvokeVoidAsync("toast", "کاربر جدید ایجاد شد");
            uservm = new UserVM();
            password = "";
        }
        else{
            await js.InvokeVoidAsync("toastError",result.Errors.Select(s=>s.Description).FirstOrDefault());
        }
        
       
    }
    async Task InValidSubmit()
    {


        await js.InvokeVoidAsync("toast", "اطلاعات درخواستی را کامل وارد نمایید");
    }
  
    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(UserId)) // edit
        {
            var service = new UserRepository();
            var res = await service.GetById(UserId);
            if (res == null)
            {
                nav.NavigateTo("/cpanel/users/", true);
                return;
            }
            uservm = res;
            //map User--->uservm

        }
        
    }
}