@page "/weather"
@* @rendermode @(new InteractiveServerRenderMode(false)) *@
 @rendermode InteractiveServer 
@inject IJSRuntime js
<EditForm Model="@car" OnValidSubmit="Submit" FormName="aaaa" >
    <InputText @bind-Value="car.Name"/>
    <button>ok</button>
    <button type="button" @onclick="TriggerJavaScript">Click Me</button>
</EditForm>
<h1>@s</h1>
@code{
    private class Car{
        public string Name { get; set; }
    }
    string s = "";
    [SupplyParameterFromForm]
    Car car { get; set; } = new();
    private async Task TriggerJavaScript()
    {
        await js.InvokeVoidAsync("toast","myJavaScriptFunction");
    }
    async Task Submit(){
        s = car.Name;
        await js.InvokeVoidAsync("toast", "myJavaScriptFunction");
      //  await js.InvokeVoidAsync


    }

}