@page "/Cpanel/Slider/"
@using Domain.Models.panel
@using Domain.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext Db
@inject IJSRuntime js
@inject IWebHostEnvironment Env
@inject NavigationManager Nav
@rendermode InteractiveServer
<h3>مدیریت اسلایدرها</h3>


<div class="card">
    <div class="card-body">
        <a href="/cpanel/slider/add" class="btn btn-success mb-3">افزودن اسلایدر جدید</a>

<div class="row">
    @foreach (var item in Sliders)
    {
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="/cpanel/assets/images/sliders/@item.ImageUrl" class="card-img-top" style="height:200px;object-fit:cover;" alt="@item.Alt">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <button type="button" class="btn btn-info btn-sm me-2" @onclick="() => Edit(item.Id)">ویرایش</button>
                    <button type="button" class="btn btn-danger btn-sm" @onclick="() => Delete(item)">حذف</button>

                </div>
            </div>
        </div>
    }
</div>
</div>
</div>
@code {
    List<Slider> Sliders = new List<Slider>();

    protected override async Task OnInitializedAsync()
    {
        Sliders = await Db.Sliders.ToListAsync();
    }

    void Edit(int id)
    {
        Nav.NavigateTo($"/Cpanel/Slider/edit/{id}");
    }

    async Task Delete(Slider slider)
    {
        var x = await js.InvokeAsync<bool>("saQuestion", "حدف شود ؟", "پس از حذف قادر به بازیابی نمی باشد");
        if (x)
        {
            Db.Sliders.Remove(slider);
            await Db.SaveChangesAsync();
            Sliders = await Db.Sliders.ToListAsync();

        }
            
    }
}
