@using Domain.Data
@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase
<div class="container-fluid">
    <div class="row min-vh-100 align-items-center">
        <div class="col-md-8 col-xl-6 mx-auto p-2 border shadow">
            @Body
        </div>
    </div>
</div>
