@using Domain.Data
@using Microsoft.AspNetCore.Identity
@inherits LayoutComponentBase
<div class="container-fluid" style="background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);">
    <div class="row min-vh-100 align-items-center">
        <div class="col-md-8 col-xl-6 mx-auto p-4 border shadow bg-light">
            @Body
        </div>
    </div>
</div>
