@page "/cpanel/"
@layout Layout.Cpanel.MainLayoutCpanel
<PageTitle>Home</PageTitle>

<div class="page-header">
    <div>
        <h3> کنترل پنل</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"> کنترل پنل </li>
            </ol>
        </nav>
    </div>
    </div>
<!-- end::page header -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">عنوان محتوا</h5>
        <p>
            صفحه خالی ...
        </p>
    </div>
</div>