@page "/cpanel/"
@layout Layout.Cpanel.MainLayoutCpanel
<PageTitle>Home</PageTitle>

<div class="page-header">
    <div>
        <h3>صفحه خالی</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">داشبورد</a></li>
                <li class="breadcrumb-item"><a href="#">صفحات</a></li>
                <li class="breadcrumb-item active" aria-current="page">صفحه خالی</li>
            </ol>
        </nav>
    </div>
    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            اقدامات
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="#">عمل</a>
            <a class="dropdown-item" href="#">عمل دیگر</a>
            <a class="dropdown-item" href="#">یک عمل دیگر</a>
        </div>
    </div>
</div>
<!-- end::page header -->

<div class="card">
    <div class="card-body">
        <h5 class="card-title">عنوان محتوا</h5>
        <p>
            صفحه خالی ...
        </p>
    </div>
</div>