@inherits LayoutComponentBase


    <!-- begin::page loader-->
    
    <!-- end::page loader -->
    <!-- begin::sidebar -->
    <LeftMenu />
    <!-- end::sidebar -->
    <!-- begin::side menu -->
    <RightMenu />
    <!-- end::side menu -->
    <!-- begin::navbar -->
   <TopMenu/>
    <!-- end::navbar -->
    <!-- begin::main content -->
    <main class="main-content">

        <div class="container-fluid">
            @Body
        </div>

    </main>

