@using Domain.Resourses

@inject NavigationManager nav
@rendermode InteractiveServer

<div class="side-menu">
    <div class="side-menu-body">
        <ul>
            
            <li class="side-menu-divider">
                <div>
                    <img src="@ConstantCpanel.image_user_no_avatar" class="d-block mx-auto mt-3 mb-3 m-auto" />
                      <p style="text-align:center" class="mt-auto" >User Name</p>
                </div>
              
            </li>
             <li>
                <a href="#"><i class="icon ti-layers-alt"></i> <span>کاربران</span> </a>
                <ul>
                    <li><a  @onclick="ShowUserList"> لیست کاربران </a></li>                
                    <li><a @onclick='()=> nav.NavigateTo("/cpanel/users/profile/add" , true)'>کاربران جدید </a></li>
                    <li><a href="chat.html">کاربران ویژه </a></li>                
                </ul>
            </li>       
            <li>
                <a href="#"><i class="icon ti-clipboard"></i> <span>یاد داشت ها</span> </a>
                <ul>
                    <li><a href="chat.html"> نوشتن یاد داشت </a></li>                
                    <li><a href="chat.html"> نظرات </a></li>                
                    <li><a href="chat.html"> انتقادات و پیش نهادات </a></li>                
                </ul>
            </li>
        </ul>
    </div>
</div>
@code {
    private void Dashboard(MouseEventArgs e)
    {
        nav.NavigateTo("/cpanel",true);
    }
    private void ShowUserList(MouseEventArgs e)
    {
        nav.NavigateTo("/cpanel/users", true);
    }
}