@using Domain.Resourses

@inject NavigationManager nav
@rendermode InteractiveServer

<div class="side-menu">
    <div class="side-menu-body">
        <ul>
            
            <li class="side-menu-divider">
                <div>
                    <img src="@ConstantCpanel.image_user_no_avatar" class="d-block mx-auto mt-3 mb-3 m-auto" />
                      <p style="text-align:center" class="mt-auto" >User Name</p>
                </div>
              
            </li>
             <li>
                <a href="#"><i class="icon ti-layers-alt"></i> <span>کاربران</span> </a>
                <ul>
                    <li><NavLink @onclick="ShowUserList"> لیست کاربران </NavLink></li>
                    <li><NavLink @onclick='() => nav.NavigateTo("/cpanel/users/profile/add", true)'>کاربران جدید </NavLink></li>
                    <li><NavLink href="chat.html">کاربران ویژه </NavLink></li>
                </ul>
            </li>       
@*             <li>
                <a href="#"><i class="icon ti-clipboard"></i> <span>یادداشت ها</span> </a>
                <ul>
                    <li><a href="chat.html"> نوشتن یاد داشت </a></li>                
                    <li><a href="chat.html"> نظرات </a></li>                
                    <li><a href="chat.html"> انتقادات و پیش نهادات </a></li>                
                </ul>
            </li> *@
            <li>
                <a href="#"><i class="icon ti-clipboard"></i> <span> محصولات</span> </a>
                <ul>
                    <li><NavLink @onclick='() => nav.NavigateTo("/cpanel/shop/products", true)'>لیست محصولات </NavLink></li>
                    <li><NavLink @onclick='() => nav.NavigateTo("/cpanel/shop/products/add", true)'> محصول جدید </NavLink></li>
                    <li><NavLink @onclick='()=> nav.NavigateTo("/cpanel/shop/catalog" , true)'>  دسته بندی محصول  </NavLink></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="icon ti-clipboard"></i> <span>اسلایدر</span> </a>
                <ul>
                    <li><NavLink @onclick='() => nav.NavigateTo("/cpanel/slider", true)'>لیست اسلایدر ها </NavLink></li>
                    <li><NavLink @onclick='() => nav.NavigateTo("/cpanel/slider/add", true)'> افزودن اسلایدر </NavLink></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
@code {
    private void Dashboard(MouseEventArgs e)
    {
        nav.NavigateTo("/cpanel",true);
    }
    private void ShowUserList(MouseEventArgs e)
    {
        nav.NavigateTo("/cpanel/users", true);
    }
}